David Golden <dagolden@cpan.org>
Gelu Lupaş <gvl@cpan.org> <gelu@devull.ro>
Karen Etheridge <ether@cpan.org>
Matt S Trout <mstrout@cpan.org> <mst@shadowcat.co.uk>
Olivier Mengué <dolmen@cpan.org>
Toby Inkster <tobyink@cpan.org> <mail@tobyinkster.co.uk>
